<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Firebase Authentication</title>
    <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
<div id="app">
    <h1>Vue School - Firebase Authentication</h1>
    <div v-if="authUser">
        <h2>Signed in as {{authUser.email}}
            <img v-if="linkedGoogle" src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg"
                 alt="">
            <img v-if="linkedPassword"
                 src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_email.svg" alt="">
        </h2>
        <img :src="authUser.photoURL" height="150">
        <p>What's up, {{authUser.displayName || 'friend'}}? We know you like {{authUser.favoriteFood || 'food'}}</p>
        <button @click="signOut">Sign Out</button>
        <button v-if="!linkedGoogle" @click="linkGoogle">Link Google</button>
        <button v-else @click="unlinkGoogle">Unlink Google</button>
        <form @submit.prevent="updateProfile">
            <h2>Update display name and photo</h2>
            <input v-model="displayName" placeholder="Your name">
            <input v-model="photoURL" placeholder="Your photo">
            <button>Update</button>
        </form>
        <form @submit.prevent="updateCustomDetails">
            <h2>Update Additional Details</h2>
            <input v-model="favoriteFood" placeholder="Your favorite food">
            <button>Update</button>
        </form>
        <form @submit.prevent="updateEmail">
            <h2>Update Email</h2>
            <input v-model="email" placeholder="Your email">
            <button>Update</button>
        </form>
        <form @submit.prevent="updatePassword">
            <h2>Update Password</h2>
            <input type="password" v-model="newPassword" placeholder="Your Password">
            <button>Update</button>
        </form>

    </div>
    <div v-else>
        <form @submit.prevent="register">
            <h2>Register</h2>
            <input type="email" v-model="email" placeholder="Type your email">
            <input type="password" v-model="password" placeholder="Pick your password">
            <button>Register</button>
        </form>

        <form @submit.prevent="signIn">
            <h2>Sign In</h2>
            <input type="email" v-model="email" placeholder="Type your email">
            <input type="password" v-model="password" placeholder="Type your password">
            <button>Sign In</button>
        </form>
        <div>
            <h2>Sign in with Google</h2>
            <button @click="signInWithGoogle">Sign in</button>
        </div>
    </div>
</div>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAQO-Al7MxgOcxY1yENZutTcLxfw_fDQGo",
        authDomain: "vueschool-firebase-auth-97f84.firebaseapp.com",
        databaseURL: "https://vueschool-firebase-auth-97f84.firebaseio.com",
        projectId: "vueschool-firebase-auth-97f84",
        storageBucket: "vueschool-firebase-auth-97f84.appspot.com",
        messagingSenderId: "694313073243"
    };
    firebase.initializeApp(config);
    new Vue({
        el: '#app',
        data: {
            email: '',
            password: '',
            newPassword: '',
            displayName: null,
            favoriteFood: '',
            photoURL: null,
            authUser: null
        },
        computed: {
            linkedGoogle() {
                // using double exclamation to convert to boolean
                return !!this.authUser.providerData.find(provider => provider.providerId === 'google.com')
            },
            linkedPassword() {
                return !!this.authUser.providerData.find(provider => provider.providerId === 'password')
            }
        },
        methods: {
            register() {
                firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(success => {
                    console.log(" all good!")
                }).catch(error => {
                    alert(error.message);
                })
            },
            signIn() {
                firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(success => {
                    console.log("all good!")
                }).catch(error => {
                    alert(error.message)
                })
            },
            signOut() {
                firebase.auth().signOut()
            },
            signInWithGoogle() {
                const provider = new firebase.auth.GoogleAuthProvider()
                firebase.auth().signInWithPopup(provider)
                    .catch(error => alert(error.message))
                    .then(data => {
                        console.log("Successfully sign in with google")
                        // console.log(data.user, data.credential.accessToken)
                    })
            },
            linkGoogle() {
                const provider = new firebase.auth.GoogleAuthProvider()
                this.authUser.linkWithPopup(provider)
                    .catch(error => {
                        alert(error.message)
                    })
                    .then(success => {
                        console.log("link google successful!")
                    })
            },
            unlinkGoogle() {
                const provider = new firebase.auth.GoogleAuthProvider()
                this.authUser.unlink('google.com').then(success => console.log("unlink google successfully"))
            },
            updateProfile() {
                this.authUser.updateProfile({
                    displayName: this.displayName,
                    photoURL: this.photoURL
                })
            },
            updateCustomDetails() {
                // firebase realtime db
                // inside users object or table
                // create a new entry, using the user's unique id
                // update favoriteFood property and set it equal to the favoriteFood data
                // we are not using 'set' function because we might lose some data.
                firebase.database().ref('users').child(this.authUser.uid)
                    .update({favoriteFood: this.favoriteFood}).then(success => {
                    console.log("update favoriteFood successfully")}).catch(error => {
                    console.log(error)
                })


            },
            updateEmail() {
                this.authUser.updateEmail(this.email).then(success => console.log("update email successfully"))
                    .catch(error => console.log("update email falsy"))
            },
            updatePassword() {
                this.authUser.updatePassword(this.newPassword).then(success => {
                    console.log("update password successfully")
                    this.newPassword = ''
                }).catch(error => {
                    alert(error.message)
                })
            }

        },
        // created hook
        created() {
            firebase.auth().onAuthStateChanged(user => {
                this.authUser = user
                if (user) { // update when sign-in
                    this.displayName = user.displayName
                    this.photoURL = user.photoURL
                    this.email = user.email
                    // when we get authenticated user, inside our event listener.
                    // we will make a call to the database to get the additional user information

                    // The location for the authenticated will be users, then the user id,
                    // and here we will listen to the value event, "once"
                    // Inside the snapshot, we can find the favoriteFood and set it to our data.

                    firebase.database().ref('users').child(user.uid).once('value', snapshot => {
                        if (snapshot.val()) {
                            this.favoriteFood = snapshot.val().favoriteFood
                            /* If you want to append the additional properties to the authUser object,
                            You can do so using Vue.set in order for the new properties to be reactive
                            REMEMBER: Vue cannot detect property addition or deletion.
                            learn more about it: https://vuejs.org/2016/02/06/common-gotchas/
                            Let's update the authUser object, and we will append the favoriteFood property
                            */
                            Vue.set(this.authUser, "favoriteFood", this.favoriteFood)
                        }
                    })
                    //NOTE : if you are using different back-end, here you will do the AJAX call
                    // to your API for example, to fetch the information from your database.
                    // and then you will do that to update the data (line 186 and 193)
                }
            })
        }
    })
</script>
</body>

</html>
